<mat-card>
  <h1>approach with RxJs</h1>
  <div class="file">
    <p>{{ fileName }}</p>
    <button (click)="onDownload()" mat-raised-button color="primary">
      Download
    </button>
  </div>
  <ng-container *ngIf="download$ | async as downloadObservable">
    <mat-progress-bar
      [mode]="downloadObservable.state == 'PENDING' ? 'buffer' : 'determinate'"
      [value]="downloadObservable.progress"
    >
    </mat-progress-bar>
    <h3>
      Downloading ... <span>{{ downloadObservable.progress }}</span>
    </h3>
  </ng-container>
</mat-card>
